.cap-performance-mod-modal {
  &__header,
  &__footer {
    border-color: var(--border);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  &__full-width {
    grid-column: 1 / -1;
  }
}
